[submodule "flow-typed"]
	path = flow-typed
	url = https://github.com/flowtype/flow-typed
[submodule "DefinitelyTyped"]
	path = DefinitelyTyped
	url = https://github.com/DefinitelyTyped/DefinitelyTyped
