[submodule "flow-typed"]
	path = types/flow-typed
	url = https://github.com/flowtype/flow-typed
[submodule "DefinitelyTyped"]
	path = types/DefinitelyTyped
	url = https://github.com/DefinitelyTyped/DefinitelyTyped
